<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="/styleErr.css">
</head>
<body>

  <div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">Oops! Page Not Found</div>
    <div class="error-description">
      The page you’re looking for doesn’t exist in our DATABASE.
    </div>
    <a href="http://localhost:3000/ig/prashant" class="btn">Go Back Home</a>
  </div>

</body>
</html>
